# IMDB URL to Dataframe
The files used to load the datasets are not included in this repository.
The datasets can be downloaded from the following link:
- hhttps://datasets.imdbws.com/
## Libraries

In [1]:
import pandas as pd

## Create

In [2]:
# Path to your .tsv.gz file
file_path = 'Title Episode Data.tsv.gz'

# Read the .tsv.gz file into a DataFrame
df1 = pd.read_csv(file_path, sep='\t', compression='gzip')

# Display the first few rows of the DataFrame
print(df1.head())

      tconst parentTconst seasonNumber episodeNumber
0  tt0041951    tt0041038            1             9
1  tt0042816    tt0989125            1            17
2  tt0042889    tt0989125           \N            \N
3  tt0043426    tt0040051            3            42
4  tt0043631    tt0989125            2            16

In [3]:
# Path to your .tsv.gz file
file_path = 'IMDb title ratings.tsv.gz'

# Read the .tsv.gz file into a DataFrame
df2 = pd.read_csv(file_path, sep='\t', compression='gzip')

# Display the first few rows of the DataFrame
print(df2.head())

      tconst  averageRating  numVotes
0  tt0000001            5.7      2058
1  tt0000002            5.7       276
2  tt0000003            6.5      2015
3  tt0000004            5.4       179
4  tt0000005            6.2      2784

In [4]:
# Path to your .tsv.gz file
file_path = 'IMDb title basics.tsv.gz'

# Read the .tsv.gz file into a DataFrame
df3 = pd.read_csv(file_path, sep='\t', compression='gzip')

# Display the first few rows of the DataFrame
print(df3.head())

/var/folders/rm/dnyhsnfd6ll4tl6sg03cj7t80000gn/T/ipykernel_31808/1398456217.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(file_path, sep='\t', compression='gzip')

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

  isAdult startYear endYear runtimeMinutes                    genres
0       0      1894      \N              1         Documentary,Short
1       0      1892      \N              5           Animation,Short
2       0      1892      \N              5  Animation,Comedy,Romance
3       0      1892      \N             12           Animation,Short
4       0      1893      \N              1              Comedy,Short

In [5]:
# Path to your .tsv.gz file
file_path = 'IMDb title akas.tsv.gz'

# Read the .tsv.gz file into a DataFrame
df4 = pd.read_csv(file_path, sep='\t', compression='gzip')

# change name of column 'titleId' to 'parentTconst'
df4 = df4.rename(columns={'titleId': 'parentTconst'})

# keep only rows where 'isOriginalTitle' is '1'
df4 = df4[df4['isOriginalTitle'] == 1]

print(df4.shape)
df4.head()

(10771014, 8)

,parentTconst,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
8,tt0000002,1,Le clown et ses chiens,\N,\N,original,\N,1
16,tt0000003,1,Pauvre Pierrot,\N,\N,original,\N,1
25,tt0000004,1,Un bon bock,\N,\N,original,\N,1
33,tt0000005,1,Blacksmith Scene,\N,\N,original,\N,1

## Merge

In [6]:
# Merge df1 and df2 on the 'tconst' column
merged_df = pd.merge(df1, df2, on='tconst', how='inner')
print(merged_df.shape)
print(merged_df.head())

(719537, 6)
      tconst parentTconst seasonNumber episodeNumber  averageRating  numVotes
0  tt0041951    tt0041038            1             9            7.6        90
1  tt0042816    tt0989125            1            17            7.6        12
2  tt0044093    tt0959862            1             6            4.5        18
3  tt0045960    tt0044284            2             3            6.9       192
4  tt0046150    tt0341798           \N            \N            8.2        12

In [7]:
#merge df3 with merged_df on the 'tconst' column
merged_df = pd.merge(merged_df, df3, on='tconst', how='inner')
print(merged_df.shape)
print(merged_df.head())

(719537, 14)
      tconst parentTconst seasonNumber episodeNumber  averageRating  numVotes  \
0  tt0041951    tt0041038            1             9            7.6        90
1  tt0042816    tt0989125            1            17            7.6        12
2  tt0044093    tt0959862            1             6            4.5        18
3  tt0045960    tt0044284            2             3            6.9       192
4  tt0046150    tt0341798           \N            \N            8.2        12

   titleType          primaryTitle         originalTitle isAdult startYear  \
0  tvEpisode        The Tenderfeet        The Tenderfeet       0      1949
1  tvEpisode               Othello               Othello       0      1950
2  tvEpisode  The Three Musketeers  The Three Musketeers       0      1950
3  tvEpisode             King Lear             King Lear       0      1953
4  tvEpisode               Othello               Othello       0      1953

  endYear runtimeMinutes               genres
0      \N             30              Western
1      \N            135                Drama
2      \N             60                Drama
3      \N             75  Drama,History,Music
4      \N             84                Drama

In [8]:
#merge df4 with merged_df on the 'tconst' column
merged_df = pd.merge(merged_df, df4, on='parentTconst', how='inner')
print(merged_df.shape)
merged_df.head()

(718795, 21)

,tconst,parentTconst,seasonNumber,episodeNumber,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,...,endYear,runtimeMinutes,genres,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0041951,tt0041038,1,9,7.6,90,tvEpisode,The Tenderfeet,The Tenderfeet,0,...,\N,30,Western,1,The Lone Ranger,\N,\N,original,\N,1
1,tt0635319,tt0041038,4,13,8.4,44,tvEpisode,A Broken Match,A Broken Match,0,...,\N,23,Western,1,The Lone Ranger,\N,\N,original,\N,1
2,tt0635320,tt0041038,5,21,8.9,47,tvEpisode,A Harp for Hannah,A Harp for Hannah,0,...,\N,23,Western,1,The Lone Ranger,\N,\N,original,\N,1
3,tt0635321,tt0041038,1,41,7.7,63,tvEpisode,A Pardon for Curley,A Pardon for Curley,0,...,\N,23,Western,1,The Lone Ranger,\N,\N,original,\N,1
4,tt0635322,tt0041038,3,27,7.6,37,tvEpisode,A Stage for Mademoiselle,A Stage for Mademoiselle,0,...,\N,23,Western,1,The Lone Ranger,\N,\N,original,\N,1

In [9]:
# Extract the first row
first_row = merged_df.iloc[0]

# Convert the first row to a new DataFrame
new_df = pd.DataFrame(first_row).reset_index()
new_df.columns = ['Column Name', 'First Row Value']

print(new_df)

        Column Name  First Row Value
0            tconst        tt0041951
1      parentTconst        tt0041038
2      seasonNumber                1
3     episodeNumber                9
4     averageRating              7.6
5          numVotes               90
6         titleType        tvEpisode
7      primaryTitle   The Tenderfeet
8     originalTitle   The Tenderfeet
9           isAdult                0
10        startYear             1949
11          endYear               \N
12   runtimeMinutes               30
13           genres          Western
14         ordering                1
15            title  The Lone Ranger
16           region               \N
17         language               \N
18            types         original
19       attributes               \N
20  isOriginalTitle                1

## Export

In [10]:
filename = 'merged_imdb_data.csv'

# Construct the path to the data folder outside the notebooks folder
data_folder = os.path.join('..', 'data')
os.makedirs(data_folder, exist_ok=True)

# Export tvshow_df as a CSV file into the data folder
file_path = os.path.join(data_folder, filename)
merged_df.to_csv(file_path, index=False)

print(f"File saved to {file_path}")